body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.prev-btn{
  position: absolute;
  top: 2px;
  left: 3px;
  height: 80px;
  width: 80px;
  cursor: pointer;
}

h1{
  font-family: "Times New Roman", serif;
  font-size: 70px;
  color: rgb(23, 1, 1);
  font-weight: bold;
  letter-spacing: 4px;
}


  